.content {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.text {
    font-size: 1.5rem;
    font-weight: 600;
}
.link {
    text-decoration: none;
    color: red;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.link:hover {
    cursor: pointer;
        color: #000000;
    }
.link:hover > svg path {
    cursor: pointer;
        fill: #ff0000;
    }

