.description {
    padding: 1rem;
    color: #ffffff;
}
.name {
    font-size: 24px;
    font-weight: 700;
}
.card {
    border: solid #ff9800;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    background-color: #46505ab5;
    cursor: pointer;
}
.card:hover {
    background-color: #272b33;
}
.card_img {
    border-radius: 10px 10px 0 0;
}