.cards_wrap {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(39, 43, 51);
    padding: 50px 0;
}
.title {
    text-align: center;
    font-size: 3rem;
}
.search_bar {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}
.input {
    display: block;
    border: 1px solid rgb(255, 152, 0);
    max-width: 320px;
    width: 100%;
    font-size: 1.5rem;
    padding: 5px 15px;
    border-radius: 5px;
}