.links {
    display: flex;
    padding: 2rem 5rem;
    background: #272b33;
}
.links_item {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-right: 3rem;
}
.links_item:hover {
    color: #FF2400;
}
@media (max-width: 420px) {
    .links {padding: 1rem;}
}