.subtitle {
    font-size: 24px;
    font-weight: 600;
}
.form__wrap {
    max-width: 1500px;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}
.form__description{
    max-width: 800px;
    width: 100%;
}