/* .overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}
.content {
    padding: 1.5rem;
    border-radius: 15px;
    background: #fff;
    max-width: 600px;
    width: 100%;
    position: relative;
    transform: scale(0.5);
    transition: 0.4s all;
}
.content.active {
    padding: 1.5rem;
    border-radius: 15px;
    background: #fff;
    max-width: 600px;
    width: 100%;
    position: relative;
    transform: scale(0.5);
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
} */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
  }
  
  .modal__dialog {
    width: 100%;
    max-width: 550px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
  }
  
  .modal__close {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0);
    }
  }
  